<%@ Master Language="C#" MasterPageFile="~/masterpages/Master.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="Content" runat="server">
    <script runat="server">    
        umbraco.NodeFactory.Node qas = new umbraco.NodeFactory.Node(1242);
    </script>
   <umbraco:Macro Alias="SearchFilter" runat="server" />
    
    <div class="clear25">
    </div>
    <div class="box_key_point">
        <h3 class="key_point">
            Key Points to Understand</h3>
        <div class="clear25">
        </div>
        <div class="box_key_point_col1">
            <ul>
                <%for (int i = 0; i < qas.Children.Count && i < 3; i++)
                  {%>
                <li><a href="/qas#QA_<%=qas.Children[i].Id %>">
                    <% =qas.Children[i].Properties["Title"]%>
                </a></li>
                <%} %>
            </ul>
        </div>
        <%if (qas.Children.Count > 3)
          { %>
        <div class="box_key_point_col2">
            <ul>
                <%for (int i = 3; i < qas.Children.Count && i < 6; i++)
                  {%>
                <li><a href="/qas#QA_<%=qas.Children[i].Id %>">
                    <% =qas.Children[i].Properties["Title"]%>
                </a></li>
                <%} %>
            </ul>
        </div>
        <%} %>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</asp:Content>