<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.net
		http://www.springframework.net/xsd/spring-objects.xsd">
 
  <!--<object id="MemberController" type="AGMAwards.SQL.Member.MemberController, AGMAwards.SQL" />
  <object id="EntryController" type="AGMAwards.SQL.Awards.EntryController, AGMAwards.SQL" />
  <object id="EmailController" type="AGMAwards.Email.EmailController, AGMAwards" />-->
  <!--<object id="EmailLogController" type="AGMAwards.SQL.Email.EmailLogController, AGMAwards.SQL" />-->
  <object id="EmailLogController" type="BKA.SQL.Email.EmailLogController, BKA.SQL" />
  <!--<object id="CategoryController" type="AGMAwards.Umbraco.Awards.CategoryController, AGMAwards.Umbraco" />
  <object id="JudgeController" type="AGMAwards.Umbraco.Member.JudgeController, AGMAwards.Umbraco" />
  <object id="RatingController" type="AGMAwards.SQL.Awards.RatingController, AGMAwards.SQL" />
<object id="SimplePaymentController" type="AGMAwards.SQL.Payment.SimplePaymentController, AGMAwards.SQL" />-->
  <object id="ContactLogController" type="BKA.SQL.Contact.ContactLogController, BKA.SQL" />
  


</objects>