@inherits umbraco.MacroEngines.DynamicNodeContext
@using umbraco.MacroEngines;
@using System.Configuration;
<div id="home-row6">
    <div class="home-col1">
        <span class="map-site-title">International Health</span><br />
        <a class="map-site-item" href="/" title="Get a Quote">Get a Quote</a><br />
        <a class="map-site-item" href="#" title="Individual Plans">Individual Plans</a><br />
        <a class="map-site-item" href="#" title="Family Plans">Family Plans</a><br />
        <a class="map-site-item" href="#" title="Student Plans">Student Plans</a><br />
        <a class="map-site-item" href="#" title="Business">Business</a><br />
        <a class="map-site-item" href="#" title="Group Plans">Group Plans</a><br />
        <a class="map-site-item" href="#" title="File a Claim">File a Claim</a>
    </div>
    <div class="home-col2">
        <span class="map-site-title">Help &amp; Advice</span><br />
        <a class="map-site-item" href="#" title="Expat Essential">Expat Essential</a><br />
        <a class="map-site-item" href="#" title="Devil In The Fine Print">Devil In The Fine
            Print</a><br />
        <a class="map-site-item" href="#" title="What Can Go Wrong">What Can Go Wrong</a><br />
        <a class="map-site-item" href="#" title="Premium Inflation">Premium Inflation</a><br />
        <a class="map-site-item" href="#" title="FAQs">FAQs</a><br />
        <a class="map-site-item" href="#" title="Glossary">Glossary</a><br />
        <a class="map-site-item" href="#" title="Country Guides">Country Guides</a>
    </div>
    <div class="home-col3">
        <span class="map-site-title">Customer Service</span><br />
        <a class="map-site-item" href="#" title="Our Customer Promise">Our Customer Promise</a><br />
        <a class="map-site-item" href="#" title="Customer Testimonials">Customer Testimonials</a><br />
        <a class="map-site-item" href="#" title="Claims Stories">Claims Stories</a><br />
        <a class="map-site-item" href="#" title="Contact us">Contact us</a>
    </div>
    <div class="home-col4">
        <span class="map-site-title">About BrokerFish</span><br />
        <a class="map-site-item" href="#" title="About us">About us</a><br />
        <a class="map-site-item" href="#" title="Our Story">Our Story</a><br />
        <a class="map-site-item" href="#" title="Core Values">Core Values</a>
    </div>
    <div class="clear">
    </div>
</div>
