@using umbraco.MacroEngines
@using umbraco.NodeFactory
@inherits DynamicNodeContext

@{
    Node QAsNode = new Node(1242);
    <div class="r_news">
        <ul>
    @{
        int i = 0;
        foreach (Node item in QAsNode.Children)
        {
            i++;
            var answerID = item.Id;
            <li><a href="/qas?id=@answerID"> @item.Properties["Title"] </a></li>
            if (i >= 10)
            {
                break;               
            }
        }
    }
        </ul>
    </div>
}
